<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Issue List</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <th:block th:include="header"/>

    <div class="w3-container">
        <table class="w3-table-all">
            <thead>
                <tr class="w3-red">
                    <th>Id</th>
                    <th>Url</th>
                    <th>Description</th>
                    <th>Done</th>
                    <th>Name</th>
                    <th>Create</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <th:block th:each="issue : ${issues}">
                <tr>
                    <td th:text="${issue.id}">...</td>
                    <td style="word-wrap: break-word">
                        <div class="w3-dropdown-hover">
                            <a th:href="${issue.url}" target="_blank">Link to issue</a>
                            <div class="w3-dropdown-content w3-bar-block w3-border">
                                <label>
                                    <textarea th:text="${issue.url}" readonly rows="10">...</textarea>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="w3-dropdown-hover"> description
                            <div class="w3-dropdown-content w3-bar-block w3-border">
                                <div class="w3-container">
                                    <form th:action="@{/issues}" method="post">
                                        <div>
                                            <label>
                                                <textarea th:text="${issue.description}" name="data" onkeydown="myFunctionShow('description_button')" rows="10" style="word-wrap: break-word">...</textarea>
                                                <textarea th:text="${issue.id}" name="data" style="display: none">...</textarea>
                                            </label>
                                            <button name="description_button" id="submit" type="submit" class="w3-button w3-green w3-col m6 w3-center" style="display: none">save</button>
                                            <button name="description_button" id="reset" type="reset" class="w3-button w3-red w3-col m6 w3-center" style="display: none" onclick="myFunctionHide('description_button')">reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="w3-dropdown-hover">
                            <a th:text="${issue.done} ? YES : NO"></a>
                            <div class="w3-dropdown-content w3-bar-block w3-border">
                                <div class="w3-container">
                                    <form th:action="@{/issueDone}" method="post">
                                        <div>
                                            <label>
                                                <textarea th:text="${issue.id}" name="data" style="display: none">...</textarea>
                                            </label>
                                            <label>
                                                <input type="radio" name="data" value="YES" th:checked="${issue.done}">
                                            </label>YES<br>
                                            <label>
                                                <input type="radio" name="data" value="NO" th:checked="${!issue.done}">
                                            </label>NO<br>
                                            <button id="yes" type="submit" class="w3-button w3-green w3-col m6 w3-center">save</button>
                                            <button id="no" type="reset" class="w3-button w3-red w3-col m6 w3-center">reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td th:text="${issue.name}">...</td>
                    <td th:text="${issue.create_date}">...</td>
                    <td th:text="${issue.update_date}">...</td>
                </tr>
            </th:block>
        </table>
    </div>
<script>
    function f() {
        var a = document.getElementsByClassName('w3-modal');
        for (var i = 0; i < a.length; i++) {
            a[i].style.display = "block";
        }
    }

    function myFunctionShow(name){
        var buttons = document.getElementsByName(name);
        for (var i = 0; i<buttons.length; i++){
            buttons[i].style.display = "block";
        }
    }

    function myFunctionHide(name){
        var buttons = document.getElementsByName(name);
        for (var i = 0; i<buttons.length; i++){
            buttons[i].style.display = "none";
        }
    }
</script>
</body>
</html>