<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Data From Database</title>
    <link rel="stylesheet" type="text/css" th:href="style.css">
    <th:block th:include="menu/menu"/>
</head>
<body th:background="Clearing-Sky.jpg" class="background">
    <table>
        <th:block th:each="data : ${message}">
            <tr>
                <td th:text="${data}">...</td>
            </tr>
        </th:block>
    </table>
</body>
</html>
