<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Data From Database</title>
    <link rel="stylesheet" type="text/css" th:href="style.css">
    <th:block th:include="menu/menu"/>
</head>
<body th:background="pictureForSecondPage.jpg" class="background">
<fieldset>
    <legend class="center"><h1>Insert hash and press Submit</h1></legend>
    <form action="/showDataByHash" class="center"><br/>
        <label>
            <input type="text" name="hash" title="insert hash" required="required" placeholder="insert hash" style="font-size: xx-large"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label><br/><br/>
        <input type="submit" value="Submit" style="font-size: x-large"/>
    </form>
</fieldset>
<table>
    <th:block th:each="data : ${message}">
        <tr>
            <td th:text="${data}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>
